@{
    ViewData["Title"] = "Lista";
}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<h2>Lista </h2>
<table id="tabla_Personas" >
    <thead>
        <th>Nombre</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>RFC</th>
        <th>Fecha nacimiento</th>
        <th>Opciones</th>
    </thead>
    <tbody></tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {

    });
    GetPersonas();
    function GetPersonas() {
        $.getJSON("/PersonaFisica/GetAll", function (PersonaFisica) {
            $("#tabla_Personas tbody tr").remove();
            $.map(PersonaFisica, function (persona) {
                $("#tabla_Personas tbody").append("<tr>"
                    + "<td>" + persona.Nombre+ "</td>"
                    + "<td>" + persona.ApellidoPaterno + "</td>"
                    + "<td>" + persona.ApellidoMaterno + "</td>"
                    + "<td>" + persona.RFC + "</td>"
                    + "<td>" + persona.FechaNacimiento + "</td>"
                    + "<td>"
                    + "     <button onclick='Actualizar("+persona.IdPersonaFisica+")'>Actualizar</button>"
                    + "     <button onclick='Eliminar("+persona.IdPersonaFisica+")'>Eliminar</button>"
                    + "</td>"
                    + "</tr>"
                );
            });
        });
    }
</script>

